
    <div style="position: relative; top: -10px; left: 0px; height: 20px" > Application </div>

    <div style="position: relative; top: 80px; left: 0px">

        <div style="font-style: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px; text-align: left; height: 100px; color: #333; background-color: #EEE; width: 800px; position: relative; top: 0px; left: 10px; margin-top: -79px;" >

            <div style="position: relative; top: 10px; left: 10px; width: 120; height: 20px;">
                <p> ${name} </p>
            </div>

        </div>

        <div style="font-style: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px; text-align: left; height: 60px; color: #000; background-color: #FFF; width: 800px; position: relative; top: -40px; left: -10px; margin-left: 20px; border: 2px; border-color: #128;" >

            <div style="position: relative; top: 10px; left: 10px;">Description</div>
            <div style="position: relative; top: -10px; left: 130px; width: 650px;">
                <p id="stage_description">${description}</p>
            </div>    
        </div>

        <div style="font-style: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px; text-align: left; height: 60px; color: #000; background-color: #FCC; width: 800px; position: relative; top: -40px; left: -10px; margin-left: 20px;" >

            <div style="position: relative; top: 10px; left: 10px;"> Path <div>
            <div style="position: relative; top: -5px; left: 130px;">
                <p id="application">${path}</p>
            </div>

        </div>


        <div style="font-style: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px; text-align: left; height: 80px; color: #000; background-color: #CCF; width: 800px; position: relative; top: -40px; left: -10px; margin-left: 20px;" >

            <div style="position: relative; top: 10px; left: 10px;">Arguments</div>

            <div 
                style="position: relative; top: -5px; left: 130px; width: 700px;" >
                <p id="arguments"> ${applications[0].arguments} </p>
            </div>

        </div>


    </div>

</form>
